body{
    width: 1024px;
    margin:0px auto;
    background-color: #d4addb;
  }

  .borde{
    display: flex;
    align-items: flex-end;
  }
  
  #linea{
    box-shadow: 7px 7px 7px black;
    border: 10px solid #0a5a85;
  }

  a{
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    background-color: #5a2d63;
    color: white;
    text-decoration: none;
  }

  a:hover{
    background-color:  whitesmoke;
    color: #5a2d63;

  }

  a:active{
    background-color:  whitesmoke;
    color: rgb(4, 124, 44);
  }

  /* Tema 1 */
body.theme1 {
  background-color: #d4bb8c;
  color: #333;
}

/* Tema 2 */
body.theme2 {
  background-color: #a9d9d4;
  color: #333;
}

/* Tema 3 */
body.theme3 {
  background-color: #51e09e;
  color: #fff;
}


h1, h2 {
  margin-top: 10;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: #333;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px;
  padding: 0;
  

}

#theme-selector {
  margin-top: 10px;
  justify-content: center;
  padding-left: 700px;
}

#theme-selector button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 0px ;
  padding-bottom: 0px;
}

#theme1-btn{
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 100px;
  padding-top: 100px;
  color: #0a5a85;
  background-color: #fff;
  font-size: large;
}
#theme2-btn{
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 100px;
  padding-top: 100px;
  color: #0a5a85;
  background-color: #fff;
  font-size: large;
}

#theme3-btn{
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 100px;
  padding-top: 100px;
  color: #0a5a85;
  background-color: #fff;
  font-size: large;
}

.accordion {
  list-style: none;
}

.accordion > li > a {
  display: block;
  cursor: pointer;
}

.accordion > li > div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.letra{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}